@import "./variables.css";

body {
  font-size: var(--text-general);
  font-family: var(--text-general-family);
  color: var(--dark-blue);
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* Services section */
.services {
  background-color: var(--dark-blue);
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--padding-side);
}

.services__left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.services__left h1 {
  font-size: var(--heading-3);
  font-family: var(--heading-family);
  font-weight: 500;
  color: var(--white);
  letter-spacing: var(--heading-letter-space);
  text-transform: uppercase;
  margin: 0;
}

.services__left .services__items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 19px;
}

.services__left .services__items .services__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.services__left .services__items .services__item img {
  width: 173px;
  height: auto;
}

.services__left .services__items .services__item h2 {
  font-size: var(--heading-4);
  font-family: var(--heading-family);
  font-weight: 500;
  color: var(--white);
  letter-spacing: var(--heading-letter-space);
  text-transform: uppercase;
  margin: 0;
}

.services__right {
  flex: 1 1 426px;
  max-width: 426px;
  max-height: 267px;
}

.services__right img {
  width: 100%;
}

/* Services responsive */
@media (max-width: 1230px) {
  .services__wrapper {
    gap: 20px;
    padding-top: var(--padding-side);
  }

  .services__left {
    flex: 1 1 100%;
    align-items: center;
  }

  .services__right {
    flex: 1 1 100%;
    max-width: calc(100% + 40px);
    max-height: unset;
    margin: 0 -20px -4px;
  }

  .services__right img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 799px) {
  .services__left .services__items {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services__left h1 {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .services__left .services__items .services__item img {
    width: 100%;
    max-width: 122px;
  }
}

/* Area section */
.area {
  background-color: var(--white);
}

.area__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 36px;
  row-gap: 12px;
  padding: 0 var(--padding-side) var(--padding-vertical);
}

.area__wrapper h2 {
  font-size: var(--heading-1);
  font-family: var(--heading-family);
  font-weight: 500;
  color: var(--red);
  letter-spacing: var(--heading-letter-space);
  text-transform: uppercase;
  margin: 10px 0 0;
  flex: 1 1 100%;
}

.area__left {
  flex: 1 1 378px;
  max-width: 378px;
  max-height: 254px;
}

.area__right {
  flex: 1 1 calc(100% - 378px - 36px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

p {
  font-size: var(--text-general);
  line-height: 1.625rem;
  font-family: var(--text-general-family);
  font-weight: 300;
  color: var(--dark-blue);
  letter-spacing: var(--text-general-letter-space);
  margin: 0 0 30px;
}

p b {
  font-weight: 600;
}

a {
  font-size: var(--text-general);
  font-family: var(--text-general-family);
  font-weight: 300;
  color: var(--red);
  letter-spacing: var(--text-general-letter-space);
  margin: 0;
}

/* Area responsive */
@media (max-width: 1230px) {
  .area__wrapper h2 {
    text-align: center;
  }

  .area__left {
    flex: 1 1 50%;
    max-width: 50%;
    max-height: unset;
  }

  .area__left img {
    width: 100%;
    height: auto;
  }

  .area__right {
    flex: 1 1 calc(50% - 36px);
  }
}

@media (max-width: 1024px) {
  .area__wrapper h2 {
    font-size: var(--heading-1-mobile);
  }

  .area__wrapper {
    align-items: center;
    flex-direction: column;
    padding: var(--padding-side);
  }

  .area__right {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .area__left {
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
  }

  .area__left img {
    width: 100%;
  }

  p, a {
    font-size: var(--text-general-mobile);
  }
}

/* Articles section */
.articles {
  background-color: var(--white);
}

.articles__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  padding: var(--padding-vertical) var(--padding-side) var(--padding-side);
}

.articles__wrapper h2 {
  font-size: var(--heading-2);
  font-family: var(--heading-family);
  font-weight: 500;
  color: var(--red);
  letter-spacing: var(--heading-letter-space);
  margin: 0;
}

.articles__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
  max-width: calc(33.33% - 20px);
  gap: 6px;
}

.articles__item p {
  margin: 0 0 8px;
}

.articles__item a {
  text-decoration: underline;
}

.articles__item img {
  width: 100%;
}

/* Articles responsive */
@media (max-width: 1024px) {
  .articles__wrapper h2 {
    font-size: var(--heading-2-mobile);
    text-align: center;
  }
}

@media (max-width: 767px) {
  .articles__items {
    gap: 40px;
  }

  .articles__item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}